<!DOCTYPE html>
<html>
<head>
  <title>ActsAsTalented</title>
  <%= stylesheet_link_tag    "acts_as_talented/application", media: "all" %>
  <%= javascript_include_tag "acts_as_talented/application" %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</head>
<body>

<%= render "partials/navbar_admin"%>

<header>
	<h1>Bevy Talent</h1>
	<div class="cover_photo" style="background-image: url('https://s3.amazonaws.com/pn_bucket/photos/photos/000/000/242/original/header4.jpg?1401284299');" %=""></div>
	<div class="organization-color"></div>
</header>

<main ng-app="ActsAsTalentedModule">
	<%= yield %>	
</main>


</body>
</html>
